---
layout: default
paginate: true
---
<br />dwadwa<br />


1:{{ paginator.total_pages }}
2:{{ paginator.total_posts }}
3:{{ paginator.per_page }}


{{ paginator }}
{% for electronic in paginator.electronics %}
{{ electronic }}
{{ electronic.title }}
{{ electronic.content }}
{% endfor %}

<br />dwadwa<br />

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="posts">
				{% for post in site.categories[page.category] %}
					{% include listing.html %}
				{% endfor %}
			</div>
			{% comment %}
				Categories can't have pagination by default, there is apparently a plugin but let's just not bother for now.
			{% endcomment %}
		</div>
	</div>
</div>
