<header class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-2 inline-block">
				<a href="/" class="header__logo" title="{{ site.title }}">
					<img src="/img/header__motd.png" srcset="/img/header__motd.png 1x, /img/header__motd@2x.png 2x, /img/header__motd@3x.png 3x, " alt="" />
				</a>
			</div>

			<div class="col-xs-12 col-sm-7 sm-plus-inline-block">
				<nav role="navigation" class="nav nav--primary">
					{% comment %}
					This is how I originally loaded in the categories,
					but I now believe I can just use site.pages (which can get icons, etc globally)
					{% for categorydata in site.categories %}
					{% assign category = categorydata | first %}
						<a class="nav__item nav__item--{{ category }}
						{% if category == page.category %}
							nav__item--active
						{% endif %}
						" href="/{{ category }}">{{ category | capitalize }}</a>
					{% endfor %}
					{% endcomment %}

					{% for p in site.pages %}
						{% if p.category %}
							<a class="nav__item nav__item--{{ p.category }}
							{% if p.category == page.category %}
								nav__item--active
							{% endif %}
							" href="/{{ p.category }}">
								{% if p.icon %}<i class="{{ p.icon }}"></i>{% endif %}{{ p.category | capitalize }}
							</a>
						{% endif %}
					{% endfor %}

					<a class="nav__item nav__item--about
					{% if page.title and page.title == 'About' %} nav__item--active{% endif %}
					" href="/about/"><i class="fa fa-user"></i>Info</a>
					<a class="nav__item nav__item--contact
					{% if page.title and page.title == 'Contact' %} nav__item--active{% endif %}
					" href="/contact/"><i class="fa fa-comments-o"></i>Contact</a>
				</nav>
			</div>

			<div class="col-xs-6 col-sm-3 header__social inline-block">
				{% include social_links.html %}
			</div>
		</div>
	</div>

	<div class="nav__button nav__button--header visible-xs">
		<i class="fa fa-bars"></i>
	</div>
</header>