
<div class="listing listing--post">
{% if post.gallery-images.first %}
	<a href="{{ post.url }}" class="listing__image" style="background-image:url({{ post.gallery-images.first.file | append: ' [resize:320x180]' | asset_path }})"></a>
{% endif %}
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<div class="listing__date">{{ post.date | date: "%-d %B %Y" }}</div>
	<div class="listing__summary">
		{% if post.summary %}
			{{ post.summary }}
		{% else %}
			{{ post.excerpt }}
		{% endif %}
	</div>
</div>