<ul class="social">
	{% if site.github %}
		<li><a class="fa fa-fw fa-github" href="https://github.com/{{ site.github }}"></a></li>
	{% endif %}
	{% if site.twitter %}
		<li><a class="fa fa-fw fa-twitter" href="https://twitter.com/{{ site.twitter }}"></a></li>
	{% endif %}
	{% if site.email %}
		<li><a class="fa fa-fw fa-envelope" href="mailto:{{ site.email }}"></a></li>
	{% endif %}
	{% if site.linkedin %}
		<li><a class="fa fa-fw fa-linkedin" href="https://uk.linkedin.com/in/{{ site.linkedin }}"></a></li>
	{% endif %}
</ul>
