@charset "UTF-8";

html, body {
  height: auto;
  min-height: 100%;
}

img {
  width: auto;
  max-width: 100%;
}

body {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
