
/*
 *   Variables
 */
$grid-columns:          12;
$grid-gutter-width:     20px;
$grid-column-max-width: 70px;

$disableAdaptiveLayout: true; // stop auto-changing fixed widths for different sizes

$colors: (
	"primary":     #327ee8,
	"secondary":   #002240,
	"tertiary":    black,
	"quaternary":  #F79400,
	//"quinary":   #09a5d8,
	//"senary":    #09a5d8,
	//"septenary": #b3b3b3,
	//"octonary":  #c3d600,
	//"nonary":    #f78d0f,
	//"warning":   #fc4237,
	"white":       white,
	"black":       black
);

// Add in our nice adjusted background color
$colors: map-merge($colors, ("bg": adjust-color(map-get($colors, primary), $lightness: -15%, $saturation: -35%)));

$link-hover-decoration: none; // default is underline, which is daft when <a> are none by default
$brand-primary: map-get($colors, primary);
$headings-color: map-get($colors, quaternary);

// Generate .color--primary, .background--primary, etc style classes
@each $key, $value in $colors {
	.color--#{$key} { &,* { color: $value; } }
	.background--#{$key} { background: $value; }

	.outline--#{$key} {
		overflow: hidden;
		border: 2px solid $value!important;
	}
	.fa--#{$key} {
		.fa {
			color: $value;
		}
	}
}

$z-indexes: (
	"nav--primary": 100
);


$motd--top: #4C8AFE;
$motd--bottom: #9FD0FF;