
/*
 *   Variables
 */
$grid-columns:          12;
$grid-gutter-width:     20px;
$grid-column-max-width: 70px;
$container-max-width:   $grid-column-max-width * $grid-columns + $grid-gutter-width * ($grid-columns + 1);

$disableAdaptiveLayout: true; // stop auto-changing fixed widths for different sizes

$colors: (
	"1":     #327ee8,
	"2":     #002240,
	"3":     black,
	"4":     #F79400,
	"white": white,
	"black": black
);

// Add in our nice adjusted background color
$colors: map-merge($colors, ("bg": adjust-color(map-get($colors,'1'), $lightness: -15%, $saturation: -35%)));

$brand-primary: map-get($colors,'1');
$headings-color: map-get($colors,'1');

$line-height-base: 1.5; // default
$font-size-base: 14px;

$text-color: map-get($colors, '3');
$link-color: map-get($colors, '1');

//$link-hover-decoration: none; // default is underline, which is daft when <a> are none by default

$link-hover-color: adjust-color($brand-primary, $lightness: -25%);


// Generate .color--primary, .background--primary, etc style classes
@each $key, $value in $colors {
	.color--#{$key} { &,* { color: $value; } }
	.background--#{$key} { background: $value; }

	.outline--#{$key} {
		overflow: hidden;
		border: 2px solid $value!important;
	}
	.fa--#{$key} {
		.fa {
			color: $value;
		}
	}
}

$z-indexes: (
	"nav--primary": 100
);


$motd--top: #4C8AFE;
$motd--bottom: #9FD0FF;