
.btn {
	color: white;
	background: map-get($colors,'1');
	font-weight: bold;
	@include fs(18);
	padding: 5px 20px;
	margin-bottom: $grid-gutter-width * 0.5;
	border: none;
	@include animate(all, 0.1s, ease-in-out);

	@include attention {
		color: white;
		background-color: adjust-color(map-get($colors,'1'), $lightness: 5%, $saturation: -10%);
	}
}
