
.content {
	margin: 0 auto;
	background: white;
	min-height: 600px; // for good measure

	> .container-fluid {
		padding-top: $grid-gutter-width*0.75;
		padding-bottom: $grid-gutter-width*0.75;
		@include md-plus {
			padding-top: $grid-gutter-width;
			padding-bottom: $grid-gutter-width;
		}
	}
}
