
body {
	background: map-get($colors, bg);
}

.footer {
	position: relative;
	@include linear-gradient(black, map-get($colors, bg), top);
	border-top: 2px solid $motd--top;
	color: $motd--top;

	> .container-fluid {
		padding-top: $grid-gutter-width*0.5;
		padding-bottom: $grid-gutter-width*0.5;
		@include md-plus {
			padding-top: $grid-gutter-width;
			padding-bottom: $grid-gutter-width;
		}
	}
}