
@import "slick";

.lazy-loading {
	background-image: url('/images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.slick-loading { display: none!important; }
/*
.slick-loading {
	display: block;
	//background: #fff url('/images/ajax-loader.gif') center center no-repeat;
	content: url("img/ajax-loader.gif");
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
}
*/

.slick-dots { &, .content & {
	padding: 0; margin: 0;
	text-align: center;

	li {
		display: inline-block;
		list-style-type: none;
		background: none;
		padding: 0; margin: 0;
		line-height: 1;
		// button reset
		button {
			font-size: 0;
			line-height: 0;
			padding: 0; margin: 0;

			display: block;

			width: 24px;
			height: 24px;
			line-height: 1;

			cursor: pointer;

			color: transparent;
			text-indent: -9999px;
			border: 0;
			outline: none;
			background: transparent;

			@include attention { outline: none; }

			text-align: center;

			@include fa('\F10C');
			&:before {
				text-align: center;
				text-indent: 0;
				top: 0; left: 0; right: 0;
				color: #55f; -webkit-text-fill-color: #55f;
				@include fs(18);
				font-weight: normal;
			}
		}
	}
	.slick-active {
		button {
			@include fa('\F111');
		}
	}
} }

.slick-prev,
.slick-next {
	display: block;
	position: absolute!important;
	margin: 0; padding: 0;
	top: 0;
	bottom: 0;
	width: 30px + 10px*2; // padding
	outline: none;
	border: none;
	background: none;
	@extend .displace;
	opacity: 0.75;
	z-index: 100;
	@include attention {
		outline: none;
	}
	&:hover,
	&:active { // NOT focus. as it lingers!
		opacity: 1;
	}
	&:before {
		top: 50%;
		margin-top: - 30px*0.5;
		left: 0; right: 0;
		text-align: center;
		text-indent: 0;
		line-height: 1;
		color: #fff; -webkit-text-fill-color: #fff;

		.n-items & {
			color: map-get($colors,'1'); -webkit-text-fill-color: map-get($colors,'1');
		}

		@include fs(30);
	}

	&.slick-disabled {
		opacity: 0.1;
	}
}
.slick-prev {
	left: 7px;
	.n-items & {
		@include sm { left: -10px; }
		@include md-plus { left: -25px; }
	}
	@include fa('\f137');
}
.slick-next {
	right: 7px;
	.n-items & {
		@include sm { right: -10px; }
		@include md-plus { right: -25px; }
	}
	@include fa('\f138');
}


.gallery {
	// galleries in general - full width centered images
	.slick-slide {
		> a { display: block; }
		> * {
			text-align: center;
			> * { // img, or div if averagecolor fadeEdges
				//@extend .full--center;
				display: block;
				margin-left: auto;
				margin-right: auto;
				//max-width: $container-max-width;
				width: auto;
				max-width: 100%;
				img {
					//@extend .fill;
					@extend .full--center;
				}
			}
		}

		.averagecolor__fade {
			@extend .hidden-xs;
			@extend .hidden-sm;
		}
	}

	&--dots--nested {
		.slick-slide {
			padding-bottom: 50px;
		}
		.slick-dots {
			position: absolute;
			bottom: 50px; left: 0; right: 0;
			height: 0; // allow buttons in slider to be clickable either side
			overflow: visible;

			li {
				button {
					&:before {
						color: white; -webkit-text-fill-color: white;
					}
				}
			}
		}
	}

	&--linked {
		&__wrapper {
			position: relative;
		}
		&__thumbs {
			//padding-bottom: $grid-gutter-width;
			.slick-slide {
				cursor: pointer;

				&.slick-current {
					position: relative;
					&:after {
						content: " ";
						position: absolute;
						top: 0; bottom: 0;
						left: 0; right: 0; // thumbs padding
						border: 3px solid map-get($colors,'1');
						//box-shadow: inset 0 0 1px 2px map-get($colors,'2');
					}
				}
			}
		}
	}

	&__thumb {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		//width: 200px;
		height: 112px;
	}
}


