$nav__fa--top: adjust-color(map-get($colors, quaternary), $lightness: 5%, $saturation: -35%) !default;
$nav__fa--bottom: adjust-color(map-get($colors, quaternary), $lightness: 35%, $saturation: -40%) !default;

.header {
	position: relative;
	padding: 5px 0;
	overflow: visible;
	@include linear-gradient(map-get($colors, bg), black, top);

	vertical-align: middle;

	border-bottom: 2px solid $motd--bottom;
	.nav--primary { @include xs { border-bottom: 2px solid $motd--bottom; } }

	@include sm-plus {
		padding: 10px 0;
		text-align: left;
	}

	&__logo { &, img {
		display: inline-block;
	} }

	&__logo {
		img {
			@include full;
			//@include res(max-width,69px,69px,69px*2,69px*2);
			@include stopAntiAliasing;
		}
	}

	.nav__item,
	&__social a {
		/*
		//&, &--active:hover {
		color: adjust-color(map-get($colors, primary), $lightness: 30%, $saturation: 10%);
		//&:not(&--active) &:hover {
		&:hover {
			color: adjust-color(map-get($colors, primary), $lightness: 40%, $saturation: 0%);
		}
		*/

		color: $motd--top;
		background-image: -webkit-linear-gradient(
			-87deg,
			$motd--top 0%,
			$motd--top 52%,
			$motd--bottom 62%
		);
		// Must put these after setting background, here and every other time.
		-webkit-background-clip: text; -webkit-text-fill-color: transparent;

		&:hover {
		//&:hover .fa {
			@extend %flatten-text-gradient;
		}
		&:hover {
			color: $motd--bottom;
		}
		.fa {
			color: $nav__fa--top;
			background-image: -webkit-linear-gradient(
				-87deg,
				$nav__fa--top 0%,
				$nav__fa--top 52%,
				$nav__fa--bottom 62%
			);
			-webkit-background-clip: text; -webkit-text-fill-color: transparent;
		}
		//&:hover .fa {
		//	color: $nav__fa--bottom;
		//}

		@include animate(all, 0.3s, ease-in-out); // Might work in the future, who knows?
	}

	.nav__item {
		@include xs {
			// force flat colour on
			@include flatten-text-gradient();
			color: $motd--bottom;
		}
	}


	&__social,
	.nav__button--header {
		display: inline-block;
		line-height: 1;
		@include fs(50);
	}

	&__social {
		text-align: right;
		.social {
			margin: 0;
			@include res(fs,inherit,22,24,30);
			li {
				display: inline-block;
			}
		}

		@include xs {
			position: absolute;
			top: 50%;
			margin-top: -50px*0.5*2*0.5; // one line of 25px chars
			right: 0;
			padding-right: 50px + 5px;
			.social {
				float: right;
				li {
					display: block;
					float: left;
					font-size: 50%;
					&:nth-child(2n+1) {
						clear: left;
					}
				}
			}
		}
	}


	.nav__button--header {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 2px;
		background: black;
		cursor: pointer;
		width: 50px;
		height: 100%;
		.fa {
			position: absolute;
			display: block;
			line-height: 1;
			text-align: center;
			top: 50%; left: 0; right: 0;
			margin-top: -30px*0.5;
			color: adjust-color(map-get($colors, primary), $lightness: 30%, $saturation: 10%);
			@include fs(30);
		}
	}
}