$motd--top: #4C8AFE;
$motd--bottom: #9FD0FF;
$nav__fa--top: #B58E02;
$nav__fa--bottom: #DAC68D;

.header {
	position: relative;
	padding: 5px 0;
	overflow: visible;
	//@include linear-gradient(map-get($colors, primary), black, top);
	@include linear-gradient(adjust-color(map-get($colors, primary), $lightness: -15%, $saturation: -35%), black, top);
	border-bottom: 2px solid $motd--bottom;
	vertical-align: middle;

	@include sm-plus {
		padding: 10px 0;
		text-align: left;
	}

	&__logo { &, img {
		display: inline-block;
	} }

	&__logo {
		img {
			@include full;
			//@include res(max-width,69px,69px,69px*2,69px*2);
			@include stopAntiAliasing;
		}
	}

	.nav__item,
	&__social a {
		/*
		//&, &--active:hover {
		color: adjust-color(map-get($colors, primary), $lightness: 30%, $saturation: 10%);
		//&:not(&--active) &:hover {
		&:hover {
			color: adjust-color(map-get($colors, primary), $lightness: 40%, $saturation: 0%);
		}
		*/

		color: $motd--top;
		background-image: -webkit-linear-gradient(
			-87deg,
			$motd--top 0%,
			$motd--top 52%,
			$motd--bottom 62%
		);
		// Must put these after setting background, here and every other time.
		-webkit-background-clip: text; -webkit-text-fill-color: transparent;

		&:hover {
		//&:hover .fa {
			background: none;
			-webkit-background-clip: initial;
			-webkit-text-fill-color: initial;
		}
		&:hover {
			color: $motd--bottom;
		}
		.fa {
			color: $nav__fa--top;
			background-image: -webkit-linear-gradient(
				-87deg,
				$nav__fa--top 0%,
				$nav__fa--top 52%,
				$nav__fa--bottom 62%
			);
			-webkit-background-clip: text; -webkit-text-fill-color: transparent;
		}
		//&:hover .fa {
		//	color: $nav__fa--bottom;
		//}

		@include animate(all, 0.3s, ease-in-out); // Might work in the future, who knows?
	}

	&__mobile {
		text-align: right;
		@include xs {
			position: absolute;
			top: 50%;
			margin-top: -70px*0.5;
			right: 0;
		}
	}

	&__social,
	.nav__button--header {
		display: inline-block;
		line-height: 1;
		@include fs(50);
	}

	&__social {
		.social {
			@include res(fs,inherit,22,24,30);
			li {
				display: inline-block;
				@include xs { font-size: 50%; }
			}
		}
		@include xs {
			.social {
				/*-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				-webkit-column-gap: $grid-gutter-width;
				-moz-column-gap: $grid-gutter-width;
				column-gap: $grid-gutter-width;
				-moz-column-fill: balance;
					  column-fill: balance;*/
				li {
					display: block;
					float: left;
					&:nth-child(2n+1) {
						clear: left;
					}
				}
			}
		}
	}

	.nav__button--header {
		background: black;
		padding: 10px;
		border-radius: 2px;
		&, .fa {
			color: adjust-color(map-get($colors, primary), $lightness: 30%, $saturation: 10%);
		}
	}
}