
/*
 *   Layout Wrangling
 */
// Set the whole site's min/max widths
html, body, .wrapper {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	min-height: 100%;
	min-width: 320px; // wouldn't be any good below that
}
html {
	overflow: auto;
}
.container-fluid {
	max-width: $container-max-width;

	// Give containers a natural amount of padding
	padding-left: $grid-gutter-width*0.5;
	padding-right: $grid-gutter-width*0.5;

	@include md-plus {
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
	}
}


