
.nav {
	&--secondary { }

	&__item {
		@include fs(20);
		display: inline-block;
		padding: 0 10px;
		&--active {
			font-weight: bold;
			//color: adjust-color(map-get($colors, quaternary), $lightness: 10%, $saturation: -10%);
			&, &:hover {
				text-decoration: underline;
			}
		}
		.fa {
			text-decoration: none;
			margin: 0 5px;
		}
	}

	/*
	 * Mobile nav dropdown
	 */
	@include xs {
		.header &--primary {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: black;
			z-index: map-get($z-indexes, nav--primary);
		}
		.header &--primary &__item {
			display: block;
			clear: both;
		}
	}

	/*
	 * Desktop nav dropdown overrides
	 */
	@include md-plus {
		.header .nav--primary {
			display: inline-block!important;
		}
	}
}
