
.nav {
	&--primary { vertical-align: middle; }

	&--secondary { }

	&__item {
		position: relative;
		display: inline-block;
		padding: 1px 0;
		margin: 0;
		line-height: 1;
		@include fs(20);
		&--active {
			font-weight: bold;
			&, &:hover {
				//text-decoration: underline;
				// underline isn't compatible with clipped -webkit-linear-gradient, so:
				@include sm-plus {
					text-decoration: none;
					border-bottom: 1px solid;
				}
			}
		}
		.fa {
			text-decoration: none;
			@extend .fa-fw;
		}

		@include sm { margin-left: (18em / 14); } // room for .fa
		@include md-plus { margin-left: 2em; } // room for .fa +
		@include sm-plus {
			.fa {
				position: absolute;
				top: 50%;
				margin-top: -20px*0.5;
				left: -(18em / 14); // .fa-fw width
				@include fs(20);
			}
		}

		@include sm {
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}

	/*
	 * Mobile nav dropdown
	 */
	@include xs {
		.header &--primary {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			padding: 0 0 10px;
			background: black;
			z-index: map-get($z-indexes, nav--primary);
			.nav__item {
				display: block;
				clear: both;
				padding: 10px 0;
				.fa {
					margin: 0 10px;
				}
			}
		}
	}

	/*
	 * Desktop nav dropdown overrides
	 */
	@include sm-plus {
		.header &--primary {
			display: inline-block!important;
		}
	}
}
