html {
	// Make sure we're allowing REM font sizes for @include fs()
	font-size: 62.5%;
}

a {
	@include animate(color, 0.1s, ease-in-out);
}

h1,.h1,
h2,.h2,
h3,.h3 {
	margin: 0;
	padding-bottom: $grid-gutter-width;
	a {
		color: inherit;
		// Simple lower opacity hover, copes well with the colorListings js.
		opacity: 0.9;
		@include attention { opacity: 1; }
	}
}

h1,.h1,
h2,.h2,
h3,.h3 {
	color: map-get($colors,'4');
	a:hover {
		//color: adjust-color(map-get($colors,'4'), $lightness: -10%, $saturation: 10%);
	}
}